html, body {
    height: 100%; /* Ensure they take up the full viewport height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.landing-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    margin: 0;
    /* other styles */
}


.server-status {
    margin-top: 20px;
    font-weight: bold;
}

.server-status.online {
    color: #00ff00;
}

.server-status.offline {
    color: red;
}

.server-status.checking {
    color: rgb(0, 0, 0);
}

.server-status.spinning {
    color: orange;
}


input {
    font-size: 20px; /* Sets the font size to 20 pixels */
    width: 75vw;
    max-width: 300px;
}

.landing-screen img {
    max-width: 90%; /* Adjust this as needed */
    width: 90vw; /* Adjust this for responsiveness */
}

.landing-screen button {
    width: 75vw;
    margin: 20px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    max-width: 300px;
}

@media screen and (min-width: 1000px) { /* Adjust breakpoint as needed */
    .landing-screen {
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
    }
        .landing-screen img {
        max-width: 90%; /* Adjust this as needed */
        width: 90vw; /* Adjust this for responsiveness */
        margin-bottom: -50px;
    }
}